$CA1: #A1A1A1;
$CE0: #E0E0E0;
$C07: #070707;
$C2A: #2A85FF;
$CF2: #F2F2F2;
$CBC: #BCDEFF;
$C59: #59ACFF;
$CF0F: #F0F5FA;

._ca1 {
    color: $CA1;
}

._ce0 {
    color: $CE0;
}

._c07 {
    color: $C07;
}

._cf2 {
    color: $CF2;
}

._c2a {
    color: $C2A;
}

._c59 {
    color: $C59;
}

._cf0f {
    color: $CF0F;
}

.b_cf0f {
    background: $CF0F;
}

.b_ca1 {
    background: $CA1;
}

.b_ce0 {
    background: $CE0;
}

.b_c07 {
    background: $C07;
}

.b_c2a {
    background: $C2A;
}

.b_cf2 {
    background: $CF2;
}

.b_cbc {
    background: $CBC;
}

.b_c59 {
    background: $C59;
}

.bg_loading {
    background: $CF2;
}