$CA1: #A1A1A1;
$CE0: #E0E0E0;
$C07: #070707;
$C2A: #2A85FF;
$CF2: #F2F2F2;
$CBC: #BCDEFF;
$C59: #59ACFF;
$CF0F: #F0F5FA;
$CD9: #D9ECFF;
$C00: #000000;
$C6F: #6FCF97;
$CEB: #EB5757;

._c00 {
    color: $C00;
}
._ca1 {
    color: $CA1;
}

._ce0 {
    color: $CE0;
}

._c07 {
    color: $C07;
}

._cf2 {
    color: $CF2;
}

._c2bc {
    color: $CBC;
}

._c2a {
    color: $C2A;
}

._c59 {
    color: $C59;
}

._ceb {
    color: $CEB;
}

._cf0f {
    color: $CF0F;
}

._cd9 {
    color: $CD9;
}

.b_cd9 {
    background: $CD9;
}

.b_cf0f {
    background: $CF0F;
}

.b_ca1 {
    background: $CA1;
}

.b_ce0 {
    background: $CE0;
}

.b_c07 {
    background: $C07;
}

.b_c2a {
    background: $C2A;
}

.b_cf2 {
    background: $CF2;
}

.b_cbc {
    background: $CBC;
}

.b_c59 {
    background: $C59;
}

.b_c6f {
    background: $C6F;
}

.bg_loading {
    background: $CF2;
}

.border_ce0 {
    border: 1px solid $CE0;
}

.border_cbc {
    border: 1px solid $CBC;
}

.bg_white {
    .el-dropdown-menu__item {
        background: #FFFFFF !important;
    }
}