@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_colors.scss";
@import "./element_plus.scss";


@font-face {
    font-family: 'InterBold';
    src: url('@/assets/fonts/InterBold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'InterSemiBold';
    src: url('@/assets/fonts/InterSemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'InterMedium';
    src: url('@/assets/fonts/InterMedium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'InterRegular';
    src: url('@/assets/fonts/InterRegular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

html,
body {
    background: #F0F5FA;

    ::-webkit-scrollbar {
        width: 0;
    }
}

html *,
body *,
pre {
    font-family: InterRegular;
}

.font-medium {
    font-family: InterMedium;
}

.font-semibold {
    font-family: InterSemiBold;
}

.font-bold {
    font-family: InterBold;
}

input,
textarea {
    height: 40px;
    width: 100%;
    box-shadow: none !important;
    border: 1px $CE0 solid !important;
    border-radius: 4px !important;
    padding: 12px !important;
    outline: none !important;
    resize: none;

    ::placeholder {
        color: $CA1;
    }
}

button {
    height: 40px;
}

.b_none {
    border: none !important;
}

.full_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c_pointer {
    cursor: pointer;
}

input[type='radio'] {
    border-radius: 50% !important;
    padding: 6px !important;
    border: 4px solid transparent !important;
    outline: 1px solid $CE0 !important;
    cursor: pointer;
}

input[type=radio]:checked {
    background: $C2A !important;
    padding: 6px !important;
    border: 4px solid white !important;
    outline: 1px solid $C2A !important;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.r_16 {
    border-radius: 16px;
}

.r_8 {
    border-radius: 8px;
}

.hide_show:hover {
    .show_blue {
        display: none;
    }

    .show_black {
        display: block;
    }

    color: $C07;
    background: $CBC;
    cursor: pointer;
}

.class_btn:hover {
    background: $CBC;
    color: $C07;
}

.dropdown_shadow {
    box-shadow: 0px 2px 19px 4px #00000017 !important;
}

.classroom_info .el-progress-bar__outer {
    background: white !important;
}

@media (max-width: 500px) {
    .card {
        height: 100px;
    }
}

@media (max-width: 440px) {
    .card {
        height: 88px;
    }
}